fastapi
uvicorn[standard]
python-multipart
soundfile
deep-translator
torchcodec
demucs
google-generativeai
faster-whisper
scipy
ffmpeg-python
edge-tts
bitsandbytes
pyannote.audio
pedalboard
pyloudnorm
